.product {
  display: flex;
  flex-direction: column;
  width: calc(33% - 1rem);
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
  box-shadow: #80808087 0rem 0rem 0.8rem 0.1rem;
  padding: 1rem;
  border-radius: 0.25rem;

  &:hover {
    box-shadow: #80808087 0rem 0rem 0.8rem 0.6rem;
  }

  .product-title {
    font-size: 1rem;
    overflow: hidden;
    padding-top: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .product-image {
    object-fit: contain;
    height: 15rem;
    max-width: 90%;
    margin: 0 auto;
  }

  .favorite-icon {
    max-width: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.3rem;
  }
}

@media only screen and (max-width: 700px) {
  .product {
    width: 100%;
    max-width: 700px;
    height: 20rem;
  }
}
